My workflow Aula 3.json
{
  "name": "My workflow Aula 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o HR Buddy, assistente virtual de RH da ChocolaTech.\nREGRAS:\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\nSe encontrado: use os saldos de férias e banco de horas.\nSe não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        -112
      ],
      "id": "564c60e1-fc1e-4c38-b8c4-3d07e0d88342",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -176,
        112
      ],
      "id": "86a07106-4c86-48ab-b9b6-ea86890c489c",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "tnqo3tmNVbPte2ko",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -16,
        112
      ],
      "id": "827f47c5-b948-4c40-8005-428446c55ec3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "busque informações sobre politica de RH, Férias, horários e rotinas da empresa Chocolatech",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        112,
        112
      ],
      "id": "256827a9-84f7-49bd-88ae-fb1bb840301f",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "b426e005-e8d2-464a-a7fb-abf4c334ce0a",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "tnqo3tmNVbPte2ko",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "funcionarios",
          "mode": "list",
          "cachedResultName": "funcionarios"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Sempre use o formato %nome% (com % no inicio e no fim) para busca parcial\nexemplo: %joão silva%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        400,
        112
      ],
      "id": "9654c171-2496-4801-82af-0b17db2b3803",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "BehaBiGvsxQLyucx",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -112
      ],
      "id": "3fd35094-2f26-47c8-a4f1-51579512ce4f",
      "name": "Telegram Trigger",
      "webhookId": "82b2ca58-1bf3-4c3e-8767-e509d4d3e74c",
      "credentials": {
        "telegramApi": {
          "id": "yr0K5lmSqy7rqdJX",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -112
      ],
      "id": "ca2bd493-64c6-4351-8d89-dbbca39551c2",
      "name": "Send a text message",
      "webhookId": "e92e175b-edc3-4c8d-8369-6097d1c78737",
      "credentials": {
        "telegramApi": {
          "id": "yr0K5lmSqy7rqdJX",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36d2391b-21c3-461f-b455-45f8f7361f92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ed4a05dcfeb1283dcfb9bb7bf0fd7e1a37ded43f5962e7b1a85f755755baa6e"
  },
  "nodeGroups": [],
  "id": "uBKN3kdbK7mTogef",
  "tags": []
}